{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": [],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": false, 
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"]
}
